$grey: #cfcfcf;
$leds: #f90;

#song-title-container {
  display: none;
  position: fixed;
  bottom: 3em;
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  box-shadow: inset 0px 0px 10px -3px $leds;
  border-top: 5px solid #222;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  font-family: 'Josefin Sans', sans-serif;
  color: $leds;
  text-shadow: 0 0 10px $leds;
  letter-spacing: 0.3em;
  margin-left: 30%;
  height: 2.1em;
  width: 40%;

  #song-title {
    margin: 0;
    padding: 0.3em;
    height: 2.1em;
  }

  #radio-playing {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }
}

#footer-player {
  display: none;
  background: webkit-linear-gradient(#111, #333);
  background: moz-linear-gradient(#111, #333);
  background: -o-linear-gradient(#111, #333);
  background: linear-gradient(#111, #333);
  position: fixed;
  bottom: 0;
  width: 100%;

  #player-controllers {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 22%;

    .btn {
      display: inline-block;
      margin-top: 0.2em;
      padding: 0.01em;
      border: 1px solid #111;
      width: 3.5em;
      height: 2em;
    }

    #like-song {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }

    #next-song {
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }

    #like-song {
      padding: 0.2em;
    }

    #clock-container {
      font-family: 'Josefin Sans', sans-serif;
      background-image: url(/assets/display-background.png);
      opacity: 0.9;
      border: 1px solid grey;
      border-radius: 0.3em;
      box-shadow: inset 0px 0px 5.5px 0.5px $leds;
      margin-top: 0.2em;
      margin-left: 0em;
      padding-left: 0.2em;
      padding-right: 0.2em;
      width: 4em;

      #timer-p {
        color: $leds;
        text-shadow: 0px 0px 5px $leds;
        margin: 0;
        padding-top: 0.2em;
      }
    }
  }

  #progress-bar-container {
    background-image: url(/assets/display-background.png);
    opacity: 0.9;
    border: 1.5px solid $grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    height: 0.4em;
    border-radius: 1em;
    width: 20em;

    #progress-bar {
      background-color: rgba($leds, 0.6);
      box-shadow: 0px 0px 10px 0.6px $leds;
      border-radius: 1em;
      height: 0.3em;
      width: 0%;
    }
  }
}

.btn-pressed {
  background: webkit-linear-gradient(#111, #333);
  background: moz-linear-gradient(#111, #333);
  background: -o-linear-gradient(#111, #333);
  background: linear-gradient(#111, #333);
  box-shadow: inset 10px 0 10px -7px #111,
              inset -10px 0 10px -7px #111;
}
