$grey: #cfcfcf;
// $blue_led: #00f;
$blue_led: #0078a0;

@font-face {
  font-family: 'LED';
  src: url(/assets/minisystem.ttf) format(truetype);
}

body {
  // background-image: url(/assets/party_ball.png);
  background: linear-gradient(to bottom right, #000, white);
  background-size: 100%;
}

#player {
  background-color: #fff;
  box-shadow: inset 0px 0px 15px 5px #aaa;
  border-radius: 1em;
  margin-top: 0.5em;
  width: 50%;
  height: 97vh;
  padding: 2%;
}

.name {
  display: inline-block;
  vertical-align: middle;
}

#users-list-container {
  display: none;
  background-color: #fff;
  padding-top: 1vh;
}

#profile-picture {
  width: 34.5px;
}

.app-name {
  display: inline-block;
}

#song-title-container {
  background-image: url(/assets/display-background.png);
  box-shadow: inset 0px 0px 7px 1px $blue_led;
  border: 3px solid $grey;
  border-radius: 1em;
  font-family: 'LED';
  color: $blue_led;
  text-shadow: 0 0 5px $blue_led;
  letter-spacing: 0.3em;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 80%;

  #song-title {
    border-bottom: 1px dashed $blue_led;
    padding-top: 0.5em;
    margin: 0;
    height: 2.5em;
  }

  #timer-p {
    padding-right: 0.5em;
    padding-bottom: 0.5em;
  }

  #radio-playing {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
}

#timer-p {
  float: right;
}

#progress-bar-container {
  background-image: url(/assets/display-background.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 0.5em;
  border-radius: 1em;
  width: 80%;

  #progess-bar {
    background-color: rgba($blue_led, 0.7);
    box-shadow: 0px 0px 7px 0.8px $blue_led;
    border-radius: 1em;
    height: 0.5em;
    width: 0%;
  }
}

#player-controllers {
  margin-top: 1.5em;
  text-align: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  .btn {
    display: inline-block;
    border-radius: 100%;
    margin-right: 3em;
    border: 0.5px solid transparent;
    box-shadow: 0px 0px 1.5px 1px #aaa;
  }

  #like-song {
    margin-right: 0;
  }

  .btn-pressed {
    box-shadow: 0px 0px 1.5px 1px $blue_led;
    border-radius: 100%;
    border: 0.5px solid $blue_led;
  }
}

#switch-play-lists {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;

  .switch {
    display: inline-block;
    margin-right: 30%;
    padding: 0.2em;
    border-bottom: 2px solid black;
    border-radius: 0.4em;
  }

  #jams-switch {
    margin-right: 0;
  }

  .switch-pressed {
    padding: 0.2em;
    border-bottom: 2px solid $blue_led;
    border-radius: 0.4em;
  }

}

#playlist-container {
  border: 3px solid $grey;
  background-image: url(/assets/display-background.png);
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 25em;
  border-radius: 1em;
  box-shadow: 0px 0px 1.5px 1px $grey;
  box-shadow: inset 0px 0px 10px 2px $blue_led;
  overflow: auto;

  .promt {
    margin-top: 1em;
    font-size: 0.7em;
    color: $blue_led;
    text-shadow: 0 0 5px $blue_led;
    letter-spacing: 0.3em;
  }

  .search-boxes input, select {
    border: none;
    border-bottom: 2px solid $blue_led;
    background-color: transparent;
    color: $blue_led;
    text-shadow: 0 0 5px $blue_led;
    letter-spacing: 0.3em;
  }

  #new-radio {
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'LED';

    #radio_category {
      font-family: 'LED';
    }
  }


  #search-songs {
    display: none;
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'LED';
    position: relative;

    #autocomplete-container {
      position: relative;

      #autocomplete {
        list-style: none;
        background-color: rgba(#000, 0.8);
        position: absolute;
      }
    }
  }
}

#player-list {
  font-family: 'LED';
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  text-shadow: 0 0 5px $blue_led;
  letter-spacing: 0.3em;

  #radios-play-list {
    list-style: none;
    margin-left: 0.3em;

    .list-element {
      margin-bottom: 0.5em;
    }

    .playlist-element {
      margin: 0;
      padding-left: 1em;
    }
  }

}

#create-jam {
  border: 1px solid red;
  display: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  text-align: center;
}
