$orange: #DA6100;
$grey: #2A2827;

@font-face {
  font-family: 'LED';
  src: url(/assets/minisystem.ttf) format(truetype);
}

body {
  background-image: url(/assets/party_ball.png);
  background-size: 100%;
  color: $orange;
}

#profile-picture {
  width: 34.5px;
}

#soundcloud-credit {
  color: $orange;
}

.app-name {
  display: inline-block;
}


#player {
  background-color: rgba(0,0,0,0.75);
  border-radius: 1em;
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 100%;
  padding: 2%;
}

#song-title-container {
  font-family: 'LED';
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 60%;

  p {
    display: inline-block;
    height: 100%;
    padding: 0.5em;
    padding-top: 1.5em;
  }

  #timer-p {
    border-left: 1px dashed $orange;
  }

  #song-title {
    width: 85%;
    margin: 0;
    font-size: 200%;
    padding: 0;
    padding-top: 2%;
  }
}


#timer-container, .btn {
  font-family: 'LED';
  display: inline-block;
  border: 1px solid red;
}

#timer-p {
  float: right;
}

.btn {
  padding: 0;
  border-radius: 100%;

  img {
    width: 65%;
  }
}

#player-controllers {
  margin-top: 4vh;
  text-align: center;
}

#play-pause {
  margin-right: 10%;
}

#progress-bar-container {
  margin-left: auto;
  margin-right: auto;
  height: 0.5em;
  width: 60%;

  #progess-bar {
    background-color: $orange;
    height: 0.5em;
    width: 0;
  }
}

#switch-play-lists {
  border: 1px solid red;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.switch {
  display: inline-block;
  margin-right: 10%;
}

#new-radio {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  font-family: 'LED';

  #radio_category {
    font-family: 'LED';
  }
}

#search-songs {
  display: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  font-family: 'LED';
  position: relative;
}

#autocomplete-container {
  position: relative;

  #autocomplete {
    background-color: #000;
    position: absolute;
  }
}


#player-list {
  font-family: 'LED';
  border: 1px solid red;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
  overflow: auto;

  #radios-play-list, #songs-play-list {
    border: 1px solid red;
    width: 85%;
    height: 40vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
    p {
      display: inline-block;
    }

    .playlist-element-right {
      float: right;
    }
}

.list-element {
  border: 1px solid red;
  li, p {
    margin: 0;
  }
}
