$grey: #cfcfcf;
$leds: #1EB500;
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light);

body {
  background-image: url('//i.imgur.com/XUl4A2b.png');
  background-size: cover;
  background-repeat: none;
}

.special-font {
  font-family: 'Shadows Into Light', cursive;
}

#app-title {
  font-size: 1.6em;
  font-weight: bold;
  color: $leds;
  letter-spacing: 2px;
  text-shadow: 0px 0px 8px rgba(white, .5);
  z-index: 20;
}

#player {
  background-color: rgba(#151, 0.85);
  box-shadow: inset 0px 0px 15px 5px #aaa;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  height: auto;
}

.name {
  display: inline-block;
  vertical-align: middle;
}

#users-list-container {
  display: none;
  background-color: #fff;
  padding-top: 1vh;
}

#profile-picture {
  margin-right: 0.5em;
  width: 33px;
}

#user-name {
  padding-top: 0.6em;
  margin-right: 1em;
  color: white;
}

.drop1-element {
  width: 100%;

  .drop1-link:hover {
    background-color: $leds !important;
  }
}

.app-name, .app-name a {
  display: inline-block;
  color: $leds;
  text-shadow: 0px 0px 10px rgba(white, 0.7);
  margin-left: 0.2em;
  margin-bottom: 0.8em;
}

#song-title-container {
  position: fixed;
  bottom: 3.1em;
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  box-shadow: inset 0px 0px 7px 1px $leds;
  border-top: 5px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  font-family: 'Josefin Sans', sans-serif;
  color: $leds;
  text-shadow: 0 0 10px $leds;
  letter-spacing: 0.3em;
  margin-left: 30%;
  height: 0.2em;
  width: 40%;

  #song-title {
    margin: 0;
    padding: 0.3em;
    height: 2.1em;
  }

  #radio-playing {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }
}

#progress-bar-container {
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  border: 1.5px solid $grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  height: 0.4em;
  border-radius: 1em;
  width: 15em;

  #progess-bar {
    background-color: rgba($leds, 0.6);
    box-shadow: 0px 0px 10px 0.6px $leds;
    border-radius: 1em;
    height: 0.3em;
    width: 0%;
  }
}

.name {
  border: 1px solid red;
  width: 10em;
  margin-right: 20%;
}

#player-controllers {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  .btn {
    display: inline-block;
    border: 2px solid #222;
    border-radius: 100%;
    margin: 0;
  }

  #like-song {
    padding: 0.21em;
    margin-right: 0;
  }

  #clock-container {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(/assets/display-background.png);
    opacity: 0.9;
    border: 1px solid grey;
    border-radius: 0.3em;
    box-shadow: inset 0px 0px 5.5px 0.5px $leds;
    margin-top: 0.2em;
    margin-left: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    width: 4em;

    #timer-p {
      color: $leds;
      text-shadow: 0px 0px 5px $leds;
      margin: 0;
      padding-top: 0.2em;
    }
  }
}

#switch-play-lists {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;

  .switch {
    display: inline-block;
    margin-right: 30%;
    padding: 0.2em;
    border-bottom: 2px solid black;
    border-radius: 0.4em;
  }

  #jams-switch {
    margin-right: 0;
  }

  .switch-pressed {
    padding: 0.2em;
    border-bottom: 2px solid $leds;
    border-radius: 0.4em;
  }
}

#playlist-container a {
  color: $leds;
}

#playlist-container {
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 10em;
  border-radius: 0.5em;
  border: 3px inset $grey;
  box-shadow: inset 0px 0px 10px 2px $leds;

  .promt {
    margin-top: 0.8em;
    font-size: 1em;
    color: $leds;
    text-shadow: 0 0 5px $leds;
    letter-spacing: 0.3em;
  }

  #new-jam-song {
    display: none;
    border: 2px dotted $leds;
    border-radius: 0.5em;
    text-align: center;
  }

  #jam-name, input, select {
    border: none;
    border-bottom: 1px dotted $leds;
    background-color: transparent;
    color: $leds;
    text-shadow: 0 0 5px $leds;
    letter-spacing: 0.3em;
    font-size: 1em;
  }

  #new-radio {
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'Josefin Sans', sans-serif;

    #radio_category {
      font-family: 'Josefin Sans', sans-serif;
    }
  }

  #search-songs {
    display: none;
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;

    #autocomplete-container {
      position: relative;

      #autocomplete, #jamsongs-autocomplete {
        list-style: none;
        background-image: url(/assets/display-background.png);
        opacity: 0.9;
        box-shadow: inset 0px 0px 7px 1px $leds;
        position: absolute;
      }
    }
  }

  #new-jam-form {
    display: none;
    width: 40em;
    background-image: url(/assets/display-background.png);
    opacity: 0.9;
    box-shadow: inset 0px 0px 7px 1px $leds;
    position: absolute;
    margin-left: 2em;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px dotted $leds;
    z-index: 1;

    #friends-list {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      height: 15em;

      .friend {
        border-radius: 0.5em;
        padding: 0;
        margin: 0;
        height: 8em;
      }

      .friend_pic {
        width: 5em;
      }

      .user-name {
        color: $leds;
      }
    }
  }
}

#player-list {
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 90.5%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  text-shadow: 0 0 5px $leds;
  letter-spacing: 0.3em;
  overflow: auto;

  #radios-play-list, #songs-play-list, #jams-play-list {
    list-style: none;
    margin-left: 1.5em;

    .list-element:hover, .jam-song-element:hover {
      background-color: rgba($leds, 0.3);
    }

    .playing-song {
      background-color: rgba($leds, 0.3);
    }

    .delete-radio, .delete-song, .delete-jam, .delete-jam-song {
      color: transparent;

      &:hover {
        color: $leds;
      }
    }

    .playlist-element {
      margin: 0em;
      padding: 0.1em;
      font-size: 1.2em;
      color: $leds;
    }

    .jamlist-element {
      margin: 0;
      padding: 0.1em;
      font-size: 1.3em;
      color: $leds;
      height: 3em;
    }

    .jams-songs-list {
      display: none;
    }
  }
}

#player-list::-webkit-scrollbar {
background-color: transparent;
width: 0.3em;
}

#player-list::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 2em;
}

#create-jam {
  font-family: 'Josefin Sans', sans-serif;
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  select {
    font-family: 'Josefin Sans', sans-serif;
  }

  #jamsongs-autocomplete-container {
    position: relative;

    #jamsongs-autocomplete {
      list-style: none;
      width: 250%;
      background-image: url(/assets/display-background.png);
      opacity: 0.9;
      box-shadow: inset 0px 0px 7px 1px $leds;
      position: absolute;
    }
  }
}

#footer-player {
  position: fixed;
  bottom: 0;
  background-color: #333;
  width: 100%;
}