$grey: #cfcfcf;
$leds: #f90;
@import url('//fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light');
@import url('//fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  background-color: #ccc;
  z-index: 0;
}

.special-font {
  font-family: 'Shadows Into Light', cursive;
}

#playlist-container {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: #666;
  box-shadow: 1px 0 12px -1px #111,
             -1px 0 12px -1px #111;
  z-index: -10;
  overflow: auto;

  // a {
  //   color: $leds;
  // }
  
  #song-info-container {
    position: fixed;
    height: 100%;
    border-right: 2px solid #333;
    box-shadow: 1px 0 5px -1px #111;
    overflow: auto;
  }

  .promt {
    margin-top: 0.8em;
    font-size: 1em;
    color: $leds;
    text-shadow: 0 0 5px $leds;
    letter-spacing: 0.3em;
  }

  #new-jam-song {
    display: none;
    border: 2px dotted $leds;
    border-radius: 0.5em;
    text-align: center;
  }

  #jam-name, input, select {
    border: none;
    border-bottom: 1px dotted $leds;
    background-color: transparent;
    color: $leds;
    text-shadow: 0 0 5px $leds;
    letter-spacing: 0.3em;
    font-size: 1em;
  }

  #new-radio {
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'Josefin Sans', sans-serif;

    #radio_category {
      font-family: 'Josefin Sans', sans-serif;
    }
  }

  #search-songs {
    display: none;
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;

    #autocomplete-container {
      position: relative;

      #autocomplete, #jamsongs-autocomplete {
        list-style: none;
        background-image: url(/assets/display-background.png);
        opacity: 0.9;
        box-shadow: inset 0px 0px 7px 1px $leds;
        position: absolute;
      }
    }
  }

  #new-jam-form {
    display: none;
    width: 40em;
    background-image: url(/assets/display-background.png);
    opacity: 0.9;
    box-shadow: inset 0px 0px 7px 1px $leds;
    position: absolute;
    margin-left: 2em;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px dotted $leds;
    z-index: 1;

    #friends-list {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      height: 15em;

      .friend {
        border-radius: 0.5em;
        padding: 0;
        margin: 0;
        height: 8em;
      }

      .friend_pic {
        width: 5em;
      }
    }
  }
}

#player-list {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 2;
  background-color: transparent;
  letter-spacing: 0.1em;
  padding-top: 4em;
  margin-left: 27.7%;
  width: 72%;

  ol { 
    padding: 0;
    margin: 0;
  }

  #radios-play-list, #songs-play-list, #jams-play-list {
    list-style: none;
    padding-left: 0;
    z-index: 3;
  // * { border: 1px solid red; }
    
    .list-element {
      background-color: transparent;
      border-bottom: 1px solid #fff;
      box-shadow: 0px 5px 5px -3px rgba(#222, 0.6);

    }

    .playing-song {
      background-color: rgba($leds, 0.3);
    }

    .playlist-element {
      font-size: 1.2em;
      z-index: 4;
      padding: 0;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-left: -0.1em;
      font-weight: bold;

      .radios, .songs {
        color: #fff;
        margin: 0;
        padding: 0;
        text-shadow: 2px 2px 3px #222;
      }

      .delete-radio, .delete-song, .delete-jam, .delete-jam-song {
        text-align: center;
        color: #aaa;
        background-color: #e22;
        padding: 0.4em 0.4em 0.2em 0.4em;
        border-radius: 100%;
        box-shadow: 2px 2px 10px -2px #111;

        &:hover {
          color: $leds;
        }
      }
    }

    .jamlist-element {
      margin: 0;
      font-size: 1.3em;
      color: $leds;
      height: 3em;
      z-index: 4;
    }

    .jams-songs-list {
      display: none;
    }

    .list-element:hover, .jam-song-element:hover {
      color: #f99;
      border-bottom-color: $leds;

        .playlist-element a {
          color: $leds;
        }
    }
  }
}

#playlist-container::-webkit-scrollbar {
  background-color: rgba(#000, 0.2);
  width: 0.6em;
}

#playlist-container::-webkit-scrollbar-thumb{
  background-color: rgba(#666, 0.5);
  border-radius: 2em;
}

#create-jam {
  font-family: 'Josefin Sans', sans-serif;
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  select {
    font-family: 'Josefin Sans', sans-serif;
  }

  #jamsongs-autocomplete-container {
    position: relative;

    #jamsongs-autocomplete {
      list-style: none;
      width: 250%;
      background-image: url(/assets/display-background.png);
      opacity: 0.9;
      box-shadow: inset 0px 0px 7px 1px $leds;
      position: absolute;
    }
  }
}

.btn-pressed {
  background-color: #333;
  box-shadow: inset 10px 0 5px -9px #111,
              inset -10px 0 5px -9px #111;
}
