$grey: #cfcfcf;
$leds: #f90;

#player-list {
  position: relative;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  background-color: transparent;
  letter-spacing: 0.05em;
  padding: 0;
  padding-top: 3.1em;
  width: 72%;
  z-index: 2;

  ol { 
    padding: 0;
    margin: 0;
  }

  #radios-play-list, #songs-play-list, #jams-play-list {
    list-style: none;
    padding-left: 0;

    .playing-song {
      background-color: rgba($leds, 0.3);
    }

    .list-element {
      float: left;
      background-color: transparent;
      border-bottom: 1px solid rgba(#aaa, 0.7);
      border-left: 3px solid transparent;

      .play-pause-container {
        width: 2.1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0;
        padding-top: 0.5em;
      }

      .playlist-element {
        padding: 0;
        width: 88%;
        padding-top: 0.7em;
        padding-bottom: 0.5em;
        margin-left: -0.1em;


        .radios, .songs {
          color: #fff;
          margin: 0;
          padding: 0;
        }
      }

      .delete {
        width: 0em;
        float: left;
        padding-top: 0.6em;
        margin-left: 0.6em;
        border-color: red;
      }

    }

    .jams-songs-list {
      display: none;

      .jamlist-element {
        margin: 0;
        font-size: 1.3em;
        color: $leds;
        height: 3em;
      }
    }

    .list-element:hover, .jam-song-element:hover {
      border-left-color: $leds;

      .playlist-element a {
        text-shadow: 0px 0px 5px rgba(#fff, 0.7);
      }
    }

    .now-playing {
      border-left-color: $leds;
      background-color: #555;
      box-shadow: inset 0px -5px 5px -3px #333,
                  inset 0px 5px 5px -3px #333;

      .playlist-element a {
        text-shadow: 0px 0px 5px rgba(#fff, 0.7);
      }
    }
  }
}

#playlist-container::-webkit-scrollbar {
  background-color: rgba(#000, 0.2);
  width: 0.6em;
}

#playlist-container::-webkit-scrollbar-thumb{
  background-color: rgba(#666, 0.5);
  border-radius: 2em;
}
