$grey: #cfcfcf;
$blue_led: #0078a0;
@import url('//fonts.googleapis.com/css?family=Audiowide|Plaster');

@font-face {
  font-family: 'LED';
  src: url(/assets/SIGNUS_LED-S.ttf) format(truetype);
}

body {
  background-image: url(http://i.imgur.com/XUl4A2b.png);
  // background: linear-gradient(to bottom right, #000, white);
  // background-image: url(http://p1.pichost.me/i/54/1773175.jpg);
  // background-image: url(http://www.lovethispic.com/uploaded_images/49613-Blue-Night-Sky.jpg);
  background-size: cover;
  background-repeat: none;
}

.special-font {
  font-family: 'Audiowide', cursive;
}

#player {
  background-color: rgba(#fff, 0.85);
  box-shadow: inset 0px 0px 15px 5px #aaa;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  height: 80%;
  padding: 1em;
}

.name {
  display: inline-block;
  vertical-align: middle;
}

#users-list-container {
  display: none;
  background-color: #fff;
  padding-top: 1vh;
}

#profile-picture {
  margin-right: 0.5em;
  width: 33px;
}

#user-name {
  padding-top: 0.6em;
  margin-right: 1em;
  color: white;
}

.drop1-element {
  width: 100%;

  .drop1-link:hover {
    background-color: $blue_led !important;
  }
}

.app-name, .app-name a {
  display: inline-block;
  color: #AEAEAE;
  text-shadow: 0px 1.8px 0px rgba(white, 0.7);
  letter-spacing: 0.1em;
  margin-left: 0.2em;
  margin-bottom: 0.8em;
}

#song-title-container {
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  box-shadow: inset 0px 0px 7px 1px $blue_led;
  border: 3px inset $grey;
  border-radius: 1em;
  font-family: 'LED';
  color: $blue_led;
  text-shadow: 0 0 5px $blue_led;
  letter-spacing: 0.3em;
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 80%;

  #song-title {
    border-bottom: 1px dotted $blue_led;
    margin: 0;
    padding: 0.3em;
    height: 2.1em;
    font-size: 1.3em;
  }

  #timer-p {
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  #radio-playing {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }
}

#timer-p {
  float: right;
}

#progress-bar-container {
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  border: 3px inset $grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 0.7em;
  border-radius: 1em;
  width: 78%;

  #progess-bar {
    background-color: rgba($blue_led, 0.6);
    box-shadow: 0px 0px 2px 0.5px $blue_led;
    border-radius: 1em;
    height: 0.25em;
    width: 0%;
  }
}

#player-controllers {
  margin-top: 1.5em;
  text-align: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  .btn {
    display: inline-block;
    border-radius: 100%;
    margin-right: 3em;
    border: 0.5px solid transparent;
    box-shadow: 0px 0px 1.5px 1px #aaa;
  }

  #like-song {
    margin-right: 0;
  }

  .btn-pressed {
    box-shadow: 0px 0px 1.5px 1px $blue_led;
    border-radius: 100%;
    border: 0.5px solid $blue_led;
  }
}

#switch-play-lists {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;

  .switch {
    display: inline-block;
    margin-right: 30%;
    padding: 0.2em;
    border-bottom: 2px solid black;
    border-radius: 0.4em;
  }

  #jams-switch {
    margin-right: 0;
  }

  .switch-pressed {
    padding: 0.2em;
    border-bottom: 2px solid $blue_led;
    border-radius: 0.4em;
  }
}

#playlist-container {
  background-image: url(/assets/display-background.png);
  opacity: 0.9;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 65%;
  border-radius: 0.5em;
  border: 3px inset $grey;
  box-shadow: inset 0px 0px 10px 2px $blue_led;

  .promt {
    margin-top: 0.8em;
    font-size: 1em;
    color: $blue_led;
    text-shadow: 0 0 5px $blue_led;
    letter-spacing: 0.3em;
  }

  #new-jam-song {
    display: none;
    border: 2px dotted $blue_led;
    border-radius: 0.5em;
    text-align: center;
  }

  .search-boxes, #jam-name, input, select {
    border: none;
    border-bottom: 1px dotted $blue_led;
    background-color: transparent;
    color: $blue_led;
    text-shadow: 0 0 5px $blue_led;
    letter-spacing: 0.3em;
    font-size: 1em;
  }

  #new-radio {
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'LED';

    #radio_category {
      font-family: 'LED';
    }
  }

  #search-songs {
    display: none;
    width: 95%;
    margin-left: 1em;
    margin-top: 0.2em;
    font-family: 'LED';
    position: relative;

    #autocomplete-container {
      position: relative;

      #autocomplete, #jamsongs-autocomplete {
        list-style: none;
        background-image: url(/assets/display-background.png);
        opacity: 0.9;
        box-shadow: inset 0px 0px 7px 1px $blue_led;
        position: absolute;
      }
    }
  }

  #new-jam-form {
    display: none;
    width: 43%;
    background-image: url(/assets/display-background.png);
    opacity: 0.9;
    box-shadow: inset 0px 0px 7px 1px $blue_led;
    position: absolute;
    margin-left: 2em;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px dotted $blue_led;
    z-index: 1;

    #friends-list {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      height: 15em;

      .friend {
        border-radius: 0.5em;
        padding: 0;
        margin: 0;
        height: 8em;
      }

      .friend_pic {
        width: 5em;
      }

      .user-name {
        color: $blue_led;
      }
    }
  }
}

#player-list {
  font-family: 'LED';
  width: 100%;
  height: 90.5%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  text-shadow: 0 0 5px $blue_led;
  letter-spacing: 0.3em;
  overflow: auto;

  #radios-play-list, #songs-play-list, #jams-play-list {
    list-style: none;
    margin-left: 1.5em;

    .list-element:hover {
      background-color: rgba($blue_led, 0.3);
    }

    .playing-song {
      background-color: rgba($blue_led, 0.3);
    }

    .delete-radio, .delete-song, .delete-jam, .delete-jam-song {
      color: transparent;

      &:hover {
        color: $blue_led;
      }
    }

    .playlist-element {
      margin: 0;
      padding: 0.1em;
      font-size: 1.3em;
      color: $blue_led;
    }

    .jamlist-element {
      margin: 0;
      padding: 0.1em;
      font-size: 1.3em;
      color: $blue_led;
      height: 3em;
    }

    .jams-songs-list {
      display: none;
    }
  }
}

#player-list::-webkit-scrollbar {
background-color: transparent;
width: 0.3em;
}

#player-list::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 2em;
}

#create-jam {
  font-family: 'LED';
  display: none;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  select {
    font-family: 'LED';
  }

  #jamsongs-autocomplete-container {
    position: relative;

    #jamsongs-autocomplete {
      list-style: none;
      width: 250%;
      background-image: url(/assets/display-background.png);
      opacity: 0.9;
      box-shadow: inset 0px 0px 7px 1px $blue_led;
      position: absolute;
    }
  }
}
